
  
.next-button{  
  margin-right:.5vw;
  margin-bottom:.5vh;
  background: #C4C4C4;
  border-radius: 8px;
  float:right;
  width:12.70vw;
  height:4.89vh;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;

  color: #333333;

}
.main-desktop-home-coupon-container{

  width:75.625vw;
  min-height:68.56vh;
  margin-top:2.2vh;
  margin-left:4.036vw;
  margin-bottom:1.2vh;
  height:auto;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;

}
.main-desktop-home-coupon-new-search{
  position:relative;
  top: 1.8vh;
  left: 2.5vw;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-decoration:none;
  cursor:pointer;

  color: #000000;
}
.main-desktop-home-coupon-printer-container{
        float:right;
        margin-top:3vh;
        margin-right:2.1vw;
      
}
.main-desktop-home-coupon-printer-icon{
  display:inline-block;
  position:relative;
  top:-2.2vh;
  width:6.472vw;
  height:7.5vh;  
}
.main-desktop-home-coupon-printer-text{  
  display:inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  color: #333333;
  cursor:text;

}
.main-desktop-home-coupon-label{
  position:relative;
  top: 3.75vh;
  left: 2.5vw;
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 5.6rem;

  color: #333333;

}
.main-desktop-home-coupon-phone-input{
  width:33.47vw;
  height:6.55vh;
  margin-left:2.5vw;
  margin-top:2vh;
  margin-bottom:1vh;
  font-style: normal;
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 4.2rem;

   color: #9C9C9C;

}
.main-desktop-home-coupon-text-me{
  
  display:inline-block;
  width:21.80vw;
  height:4.67vh;
  margin-left:1.94vw;
  padding-top:1vh;
  border-radius: 8px;
  background-color: #C4C4C4;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  vertical-align: center;
  cursor:pointer;

  color: #333333;

}
.main-desktop-home-coupon-text-me u{
  position:relative;
  top:-.5vh;
}