.header-desktop-container{
    /* margin-top:4.4%;
    margin-left:11.3%;
    margin-right:11.2%; */
    min-height:14.8vh;
    width:84.38vw; 
    position:relative;
    left:7.85vw;
    right:7.85vw;
    top:4.9vh;
    bottom:80.33vh;
    border:1px solid #c4c4c4; 
    
     
   }
   .header-desktop-container > .header-desktop{  
     height:12.67vh;
     margin-left:.57vw;
     margin-right:.57vw;
     margin-top:1vh;
     margin-bottom:1vh;  
     background:#cccccc;
     border:1px solid #cccccc;  
   }
   
   .header-desktop-title-container{
     position:absolute; 
     top:3vh; 
     right:64.02vw;  
     left:1.73vw;
     bottom:8.89vh;
     height:2.88vh;
   
     font-weight: bold;
     font-style: normal;
     font-size:4.8rem;
     line-height:5.6rem ;
     color:#000000;
     
   }
    .header-desktop-slogan-container{ 
     position:absolute;
     left:8.68vw;
     right:40.97vw;
     top:8.8vh; 
     bottom:3.66vh;
     height:2.34vh;
     font-style:normal;
     font-weight:normal;
     font-size:2.0rem;
     line-height:2.813rem;
     color:#000000;
     
   }
   
   .header-desktop-about-first-rx-container{
     position:absolute;
     left:45.625vw;
     right:25.69vw;
     top:6.44vh;
     bottom:6.9vh;
     font-style:normal;
     font-weight:bold;
     font-size:2.4rem;
     line-height:2.8rem;
     color:#000000;  
   
   }
   
   .header-desktop-help-container{
     position:absolute;
     left:58.68vw;
     right:19.72vw;
     top:6.44vh;
     bottom:6.9vh;
     font-style:normal;
     font-weight:bold;
     font-size:2.4rem;
     line-height:2.8rem;
     color:#000000;  
   
   }
   
   .header-desktop-select-language-label-container
   {
     position: absolute;
     left: 68.40vw;
     right: 4.30vw;
     top: 4.5vh;
     bottom: 8.9vh;  
     font-style:normal;
     font-weight:bold;
     font-size:1.4rem;
     line-height:1.6rem;
     color:#000000;
   
   }
   
   
   .header-desktop-select-language{
     width:11.67vw;
     height:3vh;
     position: absolute;
     left: 68.40vw;
     right: 4.30vw;
     top: 7.33vh;
     bottom: 5.22vh;
     border: 1px solid #333333;
     box-sizing: border-box;
     font-size:1.4rem;
     
   
   }
   .header-desktop-select-language option{
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;   
     color: #000000;
   
   
   }
   .main-desktop-container{
    position:relative;
    left:7.85vw;
    right:7.85vw;
    top:7vh;    
    width: 84.38vw;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    min-height:60.66vh;
    height:auto;     
   }
   
   .main-desktop-title{
       width:79.583vw;
       height:6.22vh;
       position:relative;       
       left:4.236vw;
       right:0.66vw;
       top:1.11vh;
       bottom: 88vh;       
       font-style: normal;
       font-weight: normal;
       font-size: 4.8rem;
       line-height: 5.6rem;
       color: #000000;
      
    }

  .main-desktop-sides-container{

    display:flex;
    width: 84.38vw;
    flex-wrap: wrap;
    flex-direction:row; 
    
  }
   .main-desktop-side-left{
  
    min-height:50.37vh;
    height:auto;    
    width:47.64vw;  
    margin-top:2.55vh;
    margin-left:4.236vw;
    margin-right:1.5vw;
    margin-bottom:2vh;
    background: #EFEFEF;
    border: 3px solid #c4c4c4;
    box-sizing: border-box;    
   }
   .main-desktop-side-right{    
    
    border: 3px solid #c4c4c4;
    box-sizing: border-box;
    width:23.82vw;
    min-height:40.37vh;
    margin-top:2.55vh;
    margin-bottom:2vh;    
       
   }
   .main-desktop-bottom-container{
       position:relative;
       margin-left:7.85vw;
       margin-right:7.85vw;       
       border: 1px solid #c4c4c4;
       box-sizing: border-box;
       margin-top:8.5vh;
       min-height:13.8vh;
       width:84.375vw;
       font-style: normal;
       font-weight: normal;
       font-size: 3rem;
       line-height: 3.5rem;
       color: #000000;       

   }
   .main-desktop-bottom-text{
    position:absolute;
    left:3.34vw;
    top: 2.23vh;    
    bottom:5.3vh;    
    min-height:13.8vh;

    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem;
    color: #000000;

}
