.header_desktop_container{
   
    min-height:14.8vh;
    width:84.38vw; 
    position:relative;
    left:7.85vw;
    right:7.85vw;
    top:4.9vh;
    bottom:80.33vh;
    border:1px solid #c4c4c4;   
     
   }
   .header_desktop{

     height:12.67vh;
     margin-left:.57vw;
     margin-right:.57vw;
     margin-top:1vh;
     margin-bottom:1vh;  
     background:#cccccc;
     border:1px solid #cccccc;

   }
   
   .header_desktop_title_container{

     position:absolute; 
     top:3vh; 
     right:64.02vw;  
     left:1.73vw;
     bottom:8.89vh;
     height:2.88vh;
   
     font-weight: bold;
     font-style: normal;
     font-size:4.8rem;
     line-height:5.6rem ;
     color:#000000;
     
   }
    .header_desktop_slogan_container{

     position:absolute;
     left:8.68vw;
     right:40.97vw;
     top:8.8vh; 
     bottom:3.66vh;
     height:2.34vh;
     
     font-style:normal;
     font-weight:normal;
     font-size:2.0rem;
     line-height:2.813rem;
     color:#000000;
     
   }
   
   .header_desktop_about_first_rx_container{

     position:absolute;
     left:45.625vw;
     right:25.69vw;
     top:6.44vh;
     bottom:6.9vh;
     
     font-style:normal;
     font-weight:bold;
     font-size:2.4rem;
     line-height:2.8rem;
     color:#000000;
     cursor:pointer;  
   
   }
   
   .header_desktop_help_container{

     position:absolute;
     left:58.68vw;
     right:19.72vw;
     top:6.44vh;
     bottom:6.9vh;
     font-style:normal;
     font-weight:bold;
     font-size:2.4rem;
     line-height:2.8rem;
     color:#000000; 
     cursor:pointer; 
   
   }
   
   .header_desktop_select_language_label_container
   {

     position: absolute;
     left: 68.40vw;
     right: 4.30vw;
     top: 4.5vh;
     bottom: 8.9vh;  
     font-style:normal;
     font-weight:bold;
     font-size:1.4rem;
     line-height:1.6rem;
     color:#000000;
   
   }
   
   
   .header_desktop_select_language{

     width:11.67vw;
     height:3vh;
     position: absolute;
     left: 68.40vw;
     right: 4.30vw;
     top: 7.33vh;
     bottom: 5.22vh;
     border: 1px solid #333333;
     box-sizing: border-box;
     font-size:1.4rem;
     
   
   }
   .header_desktop_select_language option{

     font-family: Roboto;
     font-style: normal;
     font-weight: bold;   
     color: #000000;
   
   
   }