.main-desktop-left-prescription-form-title-container{
    position:relative;
    top:22.33vh;
    bottom:24.1vh;
    left:5.21vw;
    right:9.8vw;
    width:37.5vw;
    min-height:3.9vh;   
}
.main-desktop-left-prescription-form-title{
    position: inherit;
    top:0;
    left:0;    
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem; 

}

.main-desktop-left-prescription-form-description{
    position:absolute;
    top:16.4vh;
    bottom:29.22vh;
    left:1.32vw;
    right:2.71vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
 
}

.main-desktop-left-prescription-form-description-container{
    position:relative;
    height:24.1vh;  
    background:red;  
    margin-bottom:2vh;    
}
.main-desktop-left-prescription-form-label{
    position:relative;
    top:2vh;
    left:5.21vw;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.3rem;
}
.main-desktop-left-prescription-form-manufacturer-label{
    position:inherit;
    top:1vh;
    bottom:20.33vh;
    margin-bottom:.9%;
  
}
.main-desktop-left-prescription-form-format-label{
   position:inherit;
   margin-bottom:.9%;
}
.main-desktop-left-prescription-form-dosage-label{
    position:inherit;
    margin-bottom:.9%;

}
.main-desktop-left-prescription-form-quantity-label{
    position:inherit;
    margin-bottom:.9%;
}
.main-desktop-left-prescription-form-select{
       position:absolute;
       left: 15.28vw;
       right:9.03vw;
       width:23.33vw;
       height:2.08vw;
       font-style: normal;
       font-weight: normal;
       font-size: 1.8rem;
       line-height: 2.1rem;

} 
.main-desktop-left-prescription-form-select option{
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;

}
.main-desktop-left-prescription-form-manufacturer-select{
    position:absolute;
    top:27.55vh;
    bottom:20.44vh;
}
.main-desktop-left-prescription-form-format-select{
    position:absolute;
    top:31.22vh;
    bottom:15.78vh;
}
.main-desktop-left-prescription-form-dosage-select{
    position:absolute;
    top:35.34vh;
    bottom:11.67vh;
}
.main-desktop-left-prescription-form-quantity-select{
    position:absolute;
    top:35.34vh;
    bottom:11.67vh;

}