.desktop-main-left-location-caption{
    position:relative;
    top:2.11vh;
    left:1.46vw;
    margin-top:1vh;
    margin-bottom:1vh;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    /* identical to box height */


    color: #000000;
}
.desktop-main-location-detect-location{
    position:relative;
    left:1.46vw;
    margin-top:3vh;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    cursor:pointer;

}
.desktop-button-location{
    
    margin-top:19.89vh;
    margin-bottom:1vh;

}
.desktop-location-back-button{

    // position:relative;
    // top:22.89vh;    
    // left:2.34vw;
    margin-top:19.89vh;
    margin-left:2.34vw;
    margin-bottom:1vh;
    float:left;
    cursor:pointer;

    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.8rem;   

    color: #333333;
}