.desktop-coupons-tiles-container{
    display:inline-block;
    width:33.45vw;
    height:6.44vh;
    margin-top:2vh;
    margin-left:5.21vw;    
    border: 1px solid #333333;
    box-sizing: border-box;
    

}
.desktop-coupons-tiles-store-info-container{    
    margin-top:0vh;
    margin-left:2vw;
}
.desktop-coupons-tiles-store{
    margin-top:.4vh;
    display:block;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;

    color: #000000;


}
.desktop-coupons-tiles-store-address{
    display:block;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;

}
.desktop-coupons-tiles-store-details-container{
    
    width:16.39vw;
    height:5.44vh;   
    margin-left:17.09vw;
    margin-top:-5.6vh;     
     
}
.desktop-coupons-tiles-store-price{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #333333;
}
.desktop-coupons-tiles-store-button{
    
    position:relative;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #333333;
    margin-left:8vw;
    top:-4.9vh;
    background: #C4C4C4;
    border-radius: 8px;
    width:7.5vw;
    text-align:center;
    

}