.desktop-coupons-tiles-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 

    width:33.45vw;
    height:6.44vh;
    margin-top:2vh;
    margin-left:5.21vw;    
    border: 1px solid #333333;
    box-sizing: border-box;
    

}
.desktop-coupons-tiles-store-info-container{ 
    
    float:left;
    margin-top:0vh;
    margin-left:1vw;
    
}
.desktop-coupons-tiles-store{
    margin-top:.4vh;    
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;

    color: #000000;


}
.desktop-coupons-tiles-store-address{
    display:block;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;

}
.desktop-coupons-tiles-store-details-container{
    
    width:16.39vw;
    height:6.44vh;   
    margin-top:-4.6vh;      
}
.desktop-coupons-tiles-store-price{
    margin-left:12vw;   
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #333333;
}
.desktop-coupons-tiles-store-button{
    
    
    margin-left:3vw;    
    width:7.5vw;
    height:2.56vh;    
    
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #333333;
    
    
    background: #C4C4C4;
    border-radius: 8px;

    text-align:center;
    cursor:pointer;

}