#prescription{
    margin-top:2vh;
}

.main-desktop-left-prescription-form-title-container{
    position:relative;
    left:5.21vw;
    margin-top:1vh;
    right:9.8vw;
    width:37.5vw;
    min-height:3.9vh;   
}
.main-desktop-left-prescription-form-title{
    position: relative;
    top:0;
    left:0;    
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem; 

}

.main-desktop-left-prescription-form-description{
    position:relative;
    left:1.32vw;
    right:2.71vw;
    margin-top:3.4vh;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
 
}

.main-desktop-left-prescription-form-description-container{
    position:relative;    
    margin-top:.9vh;
    height:24.1vh;
    width: 47.64vw;
    margin-bottom:2vh;
    display:inline-block;    
}
.main-desktop-left-prescription-form-label{
    position:relative;
    top:2vh;
    left:5.21vw;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.3rem;
}
.main-desktop-left-prescription-form-manufacturer-label{
    position:relative;
    top:1vh;    
    margin-bottom:.1%;
  
}
.main-desktop-left-prescription-form-format-label{
   position:relative;
   margin-bottom:.9%;
}
.main-desktop-left-prescription-form-dosage-label{
    position:relative;
    margin-bottom:.9%;

}
.main-desktop-left-prescription-form-quantity-label{
    position:relative;
    margin-bottom:.9%;
}
.main-desktop-left-prescription-form-select-container{
       position:relative;
       left: 15.28vw;
       margin-top:-3vh;
       
}

.main-desktop-left-prescription-form-select{
        width:23.33vw;
        height:2.08vw;
       font-style: normal;
       font-weight: normal;
       font-size: 1.8rem;
       line-height: 2.1rem;
       
       background-color:#c4c4c4;
       border: 1px solid #c4c4c4;
       box-sizing: border-box;

} 
.main-desktop-left-prescription-form-select option{
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;

}
.main-desktop-left-prescription-form-manufacturer-select{
    position:relative;       
    margin-bottom:.1%;
}
.main-desktop-left-prescription-form-format-select{
    position:relative; 
    margin-bottom:.7%;
}
.main-desktop-left-prescription-form-dosage-select{
    position:relative; 
    margin-bottom:.7%;
}
.main-desktop-left-prescription-form-quantity-select{
    position:relative; 
    margin-bottom:.7%;

}
.next-button-find-prescription{
    margin-top:1vh;
}